<ul class="station">
  <li class="station_name"><%= @station[:station_name] %></li>
  <li class="street_address"><%= @station[:street_address] %></li>
  <li class="fuel_type_code"><%= @station[:fuel_type_code] %></li>
  <li class="access_days_time"><%= @station[:access_days_time] %></li>
</ul>
